@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-color1{
    color: #03989E;
}

.btn-cancel{
    color: #ffff;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545 ;
    text-align: center;

}
.btn-cancel:hover {
    animation: opacity 3s;
    opacity: 80%
}

.btn:hover{
    animation: opacity 3s;
    opacity: 80%;
}


.btn-atualizar{
    color: #ffff;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    text-align: center;
}
