<div class="row row-cols-1 row-cols-md-4 mt-5 mx-0 p-0" >
  
  
    <ng-container *ngFor='let item of listaProdutos'> 
    <div class="col mb-4" *ngIf="item.categoria.id == idCategoria">
      <a [routerLink]="['/compra', item.id]">
        <div class="card planando"  >
          <img class="card-img-top" width="100px" height="250px" src="{{item.imagem}}"  alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">{{item.nome}}</h5>
            <p class="card-price">{{item.preco | currency: "BRL"}}</p>
            <p class="card-text">{{item.descricao}}</p>
    
          </div>
          <div class="card-footer">
            <small class="text-muted">Unidades: {{item.unidade}}</small>
          </div>
        </div>
      </a>
  </div>
  </ng-container>
  

</div>