.fs-16 
{

font-size: 16pt;

}

a 
{

    cursor: pointer;

}

.pesquisa {
    width: 65% !important;
}

.fa-3{
    
    font-size: 19pt;
   

}

.icon3 {
    font-size: 9pt;
}


.a {

    cursor: pointer;
}

.iconelink {

    text-decoration: none;
    color: inherit;
}

.iconelink:hover {

    text-decoration: none;
    color: #17a2b8

}