<div class="container">

    <div class="container-fluid">

        <div class="row justify-content-center ">
        
            <h2 class="fonte mt-4 text-info">
                O que é a Oceans Connection?
            </h2>

            
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <p class=" text-justify">
                    A Oceans Connection nasceu da necessidade de mudança, num mundo onde as consequências da exploração ambiental desenfreada finalmente batem à porta, acreditamos que mais do que nunca é necessário uma mudança de hábitos.</p>
                <p class="text-justify">
                    Inicialmente apenas um ideal, 4 jovens desenvolvedores resolveram transformar a ideia em mudança. Sendo o primeiro projeto desses 4, o processo de desenvolvimento foi em conjunto com o de aprendizado, e portanto, muitas dificuldades surgiram no caminho, mas como ninguém tinha intenção de parar, as dificuldades tornaran-se aprendizado também.

                    
                </p>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                <img class="my-3" src="../../assets/img/logoconnectionoceans.png" alt="" width="300px" height="250px" >
            </div>
            </div>
        </div>

            <div class="row ">
                <div class="col-md-12">
                    <h3 class="text-center fonte text-info mt-3 mb-4" >Objetivo</h3>
                    <p class="text-justify">A Oceans Connection ve no mercado uma grande oportunidade de ação, pois, entendemos que quanto maior a circulação de mercadorias, igualmente maior é o descarte de materiais, principalmente de embalagens e recipientes
                    </p>
                </div>
            </div>
            

                

      

            
        

    </div>

    <h4 class="text-center mt-4 my-3">Nossa Equipe:</h4>

    <div class="row row-cols-4 mt-4 my-3 mx-0 p-0 d-flex justify-content-center">
        
          <div class="card form rounded-pill mr-3">
              <img class="card-img-top rounded-pill" src="../../assets/img/foto-daniel.jfif" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title text-center">Daniel Mendes</h5>
                <a href="https://github.com/DanielMendes010" class="icoGitHub ml-3" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/daniel-mendes-692a8516b/" class="icoGitHub " target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
 
          <div class="card form rounded-pill mr-3">
            <img class="card-img-top rounded-pill" src="../../assets/img/foto_menu.jpg" alt="Imagem de capa do card">
            <div class="card-body ">
              <h5 class="card-title text-center">Alexander Arthur</h5>
              <a href="https://github.com/Alarju" class="icoGitHub ml-3" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/alexander-juyumaya-a45165166/" class="icoGitHub " target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
          </div>
    
          <div class="card form rounded-pill mr-3">
            <img class="card-img-top rounded-pill" src="../../assets/img/foto_thales.jpg" alt="Imagem de capa do card">
            <div class="card-body ">
              <h5 class="card-title text-center">Thales Souza</h5>
              <a href="https://www.linkedin.com/in/thales-ssouza/" class="icoGitHub ml-3" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/alexander-juyumaya-a45165166/" class="icoGitHub " target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
          </div>
    
          <div class="card form rounded-pill mr-3">
            <img class="card-img-top rounded-pill" src="../../assets/img/foto-bea.jfif" alt="Imagem de capa do card">
            <div class="card-body ">
              <h5 class="card-title text-center">Beatriz Lima</h5>
              <a href="https://github.com/beatrlz" class="icoGitHub ml-3" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/beatrizlimamatos/" class="icoGitHub " target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
          </div>
      </div>
    
</div>