<div class="container-fluid">
    
    <div class="row bg-info">
        <div class="col-md-12 text-white">

            <a routerLink="/inicio" class="text-white text-left">
                <i class="fa fa-angle-double-left" aria-hidden="true"> inicio</i>
            </a>

            <h1 class="fs-54 text-center">Categoria</h1>
            <h5 class="fs-18 text-center">Veja aqui todas as categorias de embalagens cadastradas ou cadastre um novo:</h5>
                
            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <input [(ngModel)]='categoria.embalagens' type="text" class="form-control" id="embalagens" placeholder="Insira uma nova embalagem">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]='categoria.material' type="text" class="form-control" id="material" placeholder="Insira o material da embalagem">
                    </div>
                    <div class="form-group">
                        <label for="ativo">Estoque</label><br>
                        <select class="form-control" id="ativo" name="ativo" (change)='active($event)'>
                            <option value=true>Disponível</option>
                            <option value=false>Indisponível</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light" (click)='cadastrar()'>Cadastrar</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<div class="container">

  <div class="row mt-5">
    <div class="col-md-12">
        <h2 class="text-center">Todas as categorias</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">
    <div class="col-md-6">

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col" class="text-center">Modificações</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor='let item of listaCategorias'>
                <th>{{item.id}}</th>
                <td>{{item.embalagens}}</td>
                <td class="d-flex justify-content-center">
                  <button class="btn btn-info mr-3" [routerLink]="['/categoria-edit', item.id]" >Editar</button>
                  <button class="btn btn-danger" [routerLink]="['/categoria-delete', item.id]">Apagar</button>
                </td>
              </tr>
            </tbody>
          </table>
          
   </div>
 </div>

</div>

